<br><br><br>

<div class="row">
<div class="large-3 columns">
<h1><%= image_tag @user.avatar.url %></h1>

</div>
<div class="large-9 columns">
</div>
<ul class="inline-list"><br><br><br>
<font size="24">MACRO INFO</font>
</ul>
</div>

<div class="row">

<p class="notice"><font color="FFFFFF"><%= notice %></font></p>
<p class="alert"><font color="FFFFFF"><%= alert %></font></p>
<div class="large-9 push-3 columns">
<h3><font color="f04124"><%= @user.name %>, Welcome</font></h3>




<table>

<caption><%= link_to "Add Meal", new_meal_path, class: "button success" %></caption>

  <thead>
    <tr>
      <th>Date</th>
      <th>Meal Number</th>
      <th>Main Meal Name</th>
      <th>Main Meal Fat</th>
      <th>Main Meal Protein</th>
      <th>Main Meal Carb</th>
      <th>Side Name</th>
      <th>Side Fat</th>
      <th>Side Protein</th>
      <th>Side Carb</th>
      <th>Drink Name</th>
      <th>Drink Fat</th>
      <th>Drink Protein</th>
      <th>Drink Carb</th>
      <th width="150">UPDATE</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.meals.each do |meal| %>
    <tr>
      <td><%= meal.date %></td>
      <td><%= meal.meal_number %></td>
      <td><%= meal.main_meal_name %></td>
      <td><%= meal.main_meal_fat %></td>
      <td><%= meal.main_meal_protein %></td>
      <td><%= meal.main_meal_carb %></td>
      <td><%= meal.side_name %></td>
      <td><%= meal.side_fat %></td>
      <td><%= meal.side_protein %></td>
      <td><%= meal.side_carb %></td>
      <td><%= meal.drink_name %></td>
      <td><%= meal.drink_fat %></td>
      <td><%= meal.drink_protein %></td>
      <td><%= meal.drink_carb %></td>
      <td><%= link_to "Edit", edit_meal_path(meal) %>  <%= link_to "Delete", meal_path(meal), method: :delete %> </td>
    </tr>
    <% end %>
  </tbody>
</table>






</div>


<div class="large-3 pull-9 columns">
<ul class="side-nav">
<li><font size="4"><font color="f08a24"><b><%= @user.email %></b></font></font></li>
<li><font size="4">Welcome <b><font color="43AC6A"><%= @user.name %></font></font></b></li>
<li>Current Stats:</li>
<li>Age: <b><font color="a0d3e8"><%= @user.age %></font></a></b></li>
<li>Height: <b><font color="a0d3e8"><%= @user.height %></font></b></li>
<li>Gender: <b><font color="a0d3e8"><%= @user.sex %></font></b></li>
<li>Current Weight: <b><font color="a0d3e8"><%= @user.weight %></font></b></li>
<li>Weight Goal: <b><font color="a0d3e8"><%= @user.weight_goal %></font></b></li>
<li>Daily Protein Intake: <b><font color="a0d3e8"><%= @user.d_protein_r %></font></b></li>
<li>Daily Carb Intake: <b><font color="a0d3e8"><%= @user.d_carb_r %></font></b></li>
<li>Daily Fat Intake: <b><font color="a0d3e8"><%= @user.d_fat_r %></font></b></li>
<li><%= link_to "Edit Profile", edit_user_registration_path, :class => "button tiny success expand" %></li>
<li><%= link_to "Delete Account", user_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, :class => "button tiny alert expand" %></li>

</ul>
<p><img src="/workout3.png"/></p>
</div>
</div>




