<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Macro App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Macro App</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
  <li>
  <%= link_to('My Profile', user_path(current_user)) %>
  </li>
<% else %>
  <li>
  </li>
<% end %>


      <% if user_signed_in? %>
  <li class="">

  </li>
<% else %>
  <li class="">
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>
      <% if user_signed_in? %>
  <li class="active">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li class="active">
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
      <li class="has-dropdown">
        <a href="#">Contact Us</a>
        <ul class="dropdown">
          <li><a href="#">Contact by Phone</a></li>
          <li><a href="#">Contact by Email</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/">Home</a></li>
      <li class="has-dropdown active">
        <a href="#">How It Works</a>
        <ul class="dropdown">
          <li><a href="/users/how_they_work">How Macros Work</a></li>
          <li><a href="/users/intake">Intake Per Day</a></li>
        </ul>
      <li><a href="/users/about">About</a></li>
      <li><a href="/users/initiative">Our Initiative</a></li>
    </ul>
  </section>
</nav>
</div>
    <%= yield %>



<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="/">Home</a></li>
<li><a href="/users/how_they_work">How It Works</a></li>
<li><a href="/users/initiative">Initiative</a></li>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li class="active">
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<li><a href="/users/contact">Contact Us</a></li>
</ul>
</div>
</div>
</div>
</footer>


  </body>
</html>




